$green:#82B514;
$purple:#60347f;

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    font-size: 16px;
}

header#header {
    background-color:#fff;
    width:100%;
    height:100%;
    padding-top: 40px;
    border-bottom: 1px solid darken(#fff,5%);
    
    h1 {
        text-align: center;
        font-family: Anton;
        font-size: 94px;
        margin:0 0 10px 0;
        color:$green;
    }
    
    p {
        text-align: center;
        font-size: 16px;
        color:#444;
        margin:0 0 50px 0;
        
    }
    
    .highlight {
        color:$green;
        font-weight: 800;
    }
    
    .ctas {
        margin:0 0 40px 0 ;   
        
    }
    
    a {
        
        background: none;
        border: 1px solid $green;
        padding:5px;
        color:$green;;
        min-height: 50px;
        cursor:pointer;
        font-weight: bold;
        font-size: 18px;
        line-height: 36px;
        width: 40%;
        display: inline-block;
        margin: 0 5% 0 5%;
        float: left;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        border-radius: 4px;
        
        @media (min-width:320px) and (max-width:614px) {
            width:200px;
            margin:0 auto;
            display: block;
            float: none;
        }
        
        
        &:hover {
            transition: all 0.2s linear;
            background: $green;
            color:#fff;
            
        }
        
        &#download {
        
            @media (min-width:320px) and (max-width:614px) {
                transition: all 1sec linear;
                display: none;
            }
        }
        
    }
    
    
}


section#mainContent {
    background-color: #FAF5EB;
    width: 100%;
    padding-top:50px;

    
    .header {
        font-size: 32px;
        font-family: arial;
        font-weight: bold;
        margin:0 0 10px;
        color:#444;
    }
    
    .miniDesc {
        
        margin:0 0 30px 0;
        color:#444;
        
    }
    
    .page-section {
        padding: 0 10px 0 10px;
        margin:0 0 100px 0;
        display: inline-block;
        width: 100%;
        
    }
    
}

.language-html {
    color:#fff;
}

.box {
            background:$green;
            color:#fff;
            font-size: 14px;
            width: 100%;
            height: 100%;
            text-align: center;
            display: inline-block;
            padding:20px 0 20px 0;
    
        p {
            vertical-align: bottom;
            display: inline-block;
            
            @media (max-width:615px) {
                display: none;   
            }
            
        }
    
    &.red {
     background:red;   
    } 
    
    &.blue {
     background:blue;   
    }
            
}

code {
    font-family: monospace;
}



       
pre[rel] {
   overflow: auto;
   padding: 1.25em;
   border: none;
   margin: 1.6em 0;
   font-size: .875em;
   background: #000;
   white-space: pre-wrap;
   word-wrap: normal;
    position: relative;
    
     @media (max-width:615px) {
                display: none;   
            }
    
    &:before {
     content: attr(rel);
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: $purple;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold;
      padding: 10px 0;
      text-indent: 15px;   
        
    }
            
}

video {
    width:100%;
}

.ie8 {
    
    .container {
        min-width:1000px;
        max-width:1000px;
    }
    .row {
     margin-bottom: 5px;
    }
}