%columnLegacy { 
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    padding-right: $halfGutter;
    padding-left: $halfGutter;
    position: relative;
    vertical-align: top;
    margin-bottom: 15px;
}

