* {
    box-sizing: border-box;
}

.container-fluid {
    @extend %container;   
}

.container {
    max-width: 990px;
    min-width: 990px;
    @extend %container;   
}

.row {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    font-size: 0;
    margin-right: $gutterCompensation;
    margin-left: $gutterCompensation;
    margin-bottom: 10px;
}

.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

// auto col for all breakpoints

.col-xs, .col-md , .col-lg, .col-uber  {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    min-height: 1px;
}



// desktop structure

@include gridType('lg');

@include grid('lg');

@include ordering('lg');

