.container-fluid {
    @extend %container;   
}

.container {
    max-width: 1000px;
    @extend %container;   
}

.row {
    @extend %row;
    
}

.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

// auto col for all breakpoints

.col-xs, .col-md , .col-lg, .col-uber  {
    width: auto;
    max-width: 100%;
    min-height: 1px;
    @extend %column;
}




 
// xs structure

    @include gridType('xs');

    @include grid('xs');  

    @include ordering('xs');

    



// tablet structure
@include respond-to('tablet','uber') {
    
    @include gridType('md');

    @include grid('md');
    
    @include ordering('md');
    
    
}


// desktop structure
@include respond-to('desktop', 'big') {
    
    @include gridType('lg');

    @include grid('lg');
    
    @include ordering('lg');
    
   
}

// uber structure
@include respond-to('uber') {
    
    @include gridType('uber');

    @include grid('uber');
    
    @include ordering('uber');
    
   
    
}



