.start-lg {
    justify-content: flex-start;
    text-align: start;
}

.end-lg {
    justify-content: flex-end;
    text-align: end;
}

.top-lg {
    align-items: flex-start;
}

.middle-lg {
    align-items: center;
}

.bottom-lg {
    align-items: flex-end;
}

.around-lg {
   justify-content: space-around; 
}

.between-lg {
    justify-content: space-between;
}

.first-lg {
    order:-1;
}

.last-lg {
    order:1;
}

