.start-md {
    justify-content: flex-start;
    text-align: start;
}

.end-md {
    justify-content: flex-end;
    text-align: end;
}

.top-md {
    align-items: flex-start;
}

.middle-md {
    align-items: center;
}

.bottom-md {
    align-items: flex-end;
}

.around-md {
   justify-content: space-around; 
}

.between-md {
    justify-content: space-between;
}

.first-md {
    order:-1;
}

.last-md {
    order:1;
}

